SourceCodeApp/customer/node_modules

SourceCodeApp/frontend/node_modules

SouceCodeApp/product/node_modules

SouceCodeApp/shopping/node_modules





Step1-Launch_Infrastructure/.terraform.lock.hcl
Step1-Launch_Infrastructure/terraform.tfstate
Step1-Launch_Infrastructure/terraform.tfstate.backup
Step1-Launch_Infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.48.0/windows_amd64/terraform-provider-aws_v5.48.0_x5.exe
Step1-Launch_Infrastructure/.terraform/modules/modules.json
