body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.success-container h2 {
    color: #28a745;
    font-size: 32px;
    margin-bottom: 20px;
}

.success-container p {
    color: #555;
    font-size: 18px;
    margin-bottom: 40px;
}

.bill-container {
    text-align: left;
    margin-bottom: 20px;
}

.bill-container h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.bill-container .bill-details {
    font-size: 18px;
    color: #555;
}

.bill-container .bill-details p {
    margin: 5px 0;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.creditCard {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}