

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.profile-left {
    display: flex;
    width: 80%;
    margin: auto;
}

.profile-user {
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
    pointer-events: none;

}
.profile-header .profile-picture-label {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.profile-header .profile-picture-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-user ul {
    list-style-type: none;
    padding: 0;
}

.profile-user ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile-user ul li i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.profile-user ul li.edit button {
    background-color: #004c8c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-user ul li.edit button:hover {
    background-color: #003366;
}

.profile-right {
    background-color: white;
    flex: 1;
    padding: 30px 10px;
}

.side-image {
    width: 100%;
}
.modal {
    display: none; /* Ẩn modal ban đầu */
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
}

.modal-content {
    background-color: #fefefe; /* Màu nền của nội dung modal */
    margin: 15% auto; /* Căn giữa theo chiều dọc */
    padding: 5%;
    border: 1px solid #888;
    width: 80%; /* Chiều rộng của modal */
    max-width: 600px; /* Giới hạn chiều rộng tối đa */
    position: relative;
    border-radius: 8px; /* Bo góc */
}
.close {
    color: #aaa; /* Màu của nút đóng */
    float: right; /* Đẩy nút đóng sang phía bên phải */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black; /* Màu khi di chuột vào */
    text-decoration: none;
    cursor: pointer;
}

.profile-header2 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-header2 .profile-picture-label {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.profile-header2 .profile-picture-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    max-width: 400px;
    margin: 0 auto;
}

.profile-info {
    display: flex;
    margin-bottom: 15px;
    text-align: center;
}

.profile-info label {
    display: inline-block;
    text-align: left;
    width: 120px;
    font-weight: bold;
}

.profile-info input,
.profile-info select {
    width: calc(100% - 130px);
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    
}

.save-button {
    background-color: #004c8c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.save-button:hover {
    background-color: #003366;
}
@media only screen and (max-width: 768px) {
    .profile-left {
        flex-direction: column;
        width: 100%;
    }
    
    .profile-user {
        width: 100%;
        margin-bottom: 20px;
        padding: 5%;
    }
    
    .profile-right {
        margin-left: 0;
        padding: 5%;
    }
    
    .profile-header .profile-picture-label,
    .profile-header2 .profile-picture-label {
        text-align: center;
        width: 120px;
        height: 120px;
    }
    
    .profile-details {
        max-width: 100%;
    }
    
    .profile-info label {
        width: 100px;
    }
    
    .profile-info input,
    .profile-info select {
        width: calc(100% - 110px);
    }
}
