<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Management - UET Website</title>
  <!-- Bootstrap CSS -->
  <link rel="icon" href="/images/logo.svg" type="image/svg">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/add-product.css">
</head>

<body>
  <div class="container">
    <h2><i class="fa-solid fa-box"></i> Product Management</h2>

    <% if (error) { %>
      <p class="error-message">
        <%= error %>
      </p>
      <% } %>

        <div class="form-container">
          <!-- Add Product Form -->
          <div class="form-section add-product-section">
            <h3>Add Product</h3>
            <form class="add-product-form" action="/addproduct" method="post">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required>

              <label for="type">Type:</label>
              <input type="text" id="type" name="type" required>

              <label for="amount">Amount:</label>
              <input type="number" id="amount" name="amount" required>

              <label for="price">Price:</label>
              <input type="number" name="price" step="0.01" id="price" required>
              <label for="image" class="productImage">

                <img src="https://via.placeholder.com/200" alt="Profile Picture" class="profile-picture">

                <input type="file" id="image" name="image" accept="image/*" hidden>
              </label>


              <button type="submit">Add Product</button>
            </form>
          </div>

          <!-- Divider -->
          <div class="divider"></div>

          <!-- Update Product Form -->
          <div class="form-section update-product-section">
            <h3>Update Product</h3>
            <form class="update-product-form" action="/updateProduct" method="post">
              <label for="name">Product Name:</label>
              <input type="text" id="name" name="name" required>
              <label for="updatePrice">New Price:</label>
              <input type="number" name="updatePrice" step="0.01" id="updatePrice" required>

              <button type="submit">Update Product</button>
            </form>
          </div>
        </div>

        <div class="links">
          <a href="/homePage"><i class="fa-solid fa-house"></i> Homepage</a> |
          <a href="/signup"><i class="fa-solid fa-user-plus"></i> Register</a> |
          <a class="mycart" href="/myCart"><i class="fa-solid fa-cart-arrow-down"></i> My Cart</a> |
          <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
  </div>
</body>

</html>