<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login UET WebSite</title>
  <link rel="icon" href="/images/logo.svg" type="image/svg">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <script src="https://kit.fontawesome.com/c991f90e06.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <!-- logo -->
    <div class="logo">
      <a href="/homePage"> <img src="/images/logo.svg" alt="University Icon" class="university-icon"></a>
      <p>Đại học Quốc gia hà nội<br>Trường Đại học Công nghệ</p>
    </div>
    <!-- menu ve truong -->
    <nav>
      <ul>
        <li><a href="/homePage">Trang Chủ</a></li>
        <li><a href="/homePage">Giới hiệu</a></li>
        <li><a href="/product-table">Cửa Hàng</a></li>
      </ul>
    </nav>


  </header>
  <div class="wrapper">
    <h2>Login</h2>
    <% if (error) { %>
      <p class="error-message" style="color: red;">
        <%= error %>
      </p>
      <% } %>

        <% if (success) { %>
          <p class="success-message" style="color: green;">
            <%= success %>
          </p>
          <% } %>
    <form action="/login" method="post">
              <div class="input-field">
                <input type="email" name="email" required>
                <label>Enter your email</label>
              </div>
              <div class="input-field">
                <input type="password" name="password" required>
                <label>Enter your password</label>
              </div>
              <div class="forget">
                <label for="remember">
                  <input type="checkbox" id="remember">
                  <p>Remember me</p>
                </label>
                <a href="#">Forgot password?</a>
              </div>
              <button type="submit">Log In</button>
              <div class="register">
                <p>Don't have an account? <a href="#">Register</a></p>
              </div>
    </form>
    <div class="links">
      <a href="/">Homepage</a> | <a href="/signup">Register</a> | <a href="/login">Login</a>
    </div>
    <div class="details">
      <h3>Details</h3>
      <ul>
          <li><strong>Major:</strong> Engineering, Science, Arts</li>
          <li><strong>Fees:</strong> $10,000 per semester</li>
          <li><strong>Contact:</strong> info@ourschool.com | (123) 456-7890</li>
          <li><strong>Editor:</strong>Thanhlam71204@gmail.com</li>
      </ul>
  </div>
  
</body>