<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login UET WebSite</title>
  <link rel="icon" href="/images/logo.svg" type="image/svg">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <script src="https://kit.fontawesome.com/c991f90e06.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <!-- logo -->
    <div class="logo">
      <a href="/homePage"> <img src="/images/logo.svg" alt="University Icon" class="university-icon"></a>
      <p>Đại học Quốc gia hà nội<br>Trường Đại học Công nghệ</p>
    </div>
    <!-- menu ve truong -->
    <nav>
      <ul>
        <li><a href="/homePage">Trang Chủ</a></li>
        <li><a href="/homePage">Giới thiệu</a></li>
        <li><a href="/product-table">Cửa Hàng</a></li>
      </ul>
    </nav>


  </header>
  <div class="wrapper">
    <h2>Sign up</h2>
    <% if (error) { %>
      <p class="error-message" style="color: red;">
        <%= error %>
      </p>
      <% } %>
        <form action="/signup" method="post">
          <div class="input-field">
            <input type="text" name="username" required>
            <label for="username">Username</label>
          </div>
          <div class="input-field">
            <input type="email" name="email" required>
            <label>Enter your email</label>
          </div>
          <div class="input-field">
            <input type="password" name="password" id="password" required>
            <label>Your password</label>
          </div>
          <div class="input-field">
            <input type="password" name="password2" id="password2" required>
            <label>Confirm password</label>

          </div>
          <span id="password-error" class="error-message" style="color: red;"></span>

          <button type="submit">Sign Up</button>
          <div class="register">
            <p>Already have an account? <a href="/login" style="color: black;">Login now</a></p>
          </div>
        </form>
  </div>
  <script>
    document.getElementById('password2').addEventListener('input', function () {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('password2').value;
      var errorElement = document.getElementById('password-error');
      var submitBtn = document.getElementById('submit-btn');

      if (password !== confirmPassword) {
        errorElement.textContent = "Passwords do not match";
        submitBtn.disabled = true;
      } else {
        errorElement.textContent = "";
        submitBtn.disabled = false;
      }
    });
  </script>
</body>

</html>